/*Centering text*/
body {
  margin: 0 auto;
  max-width: 50em;
  text-align: center;
}

/*font for text*/
body {
  font-family: "Arial", "Helvetica", sans-serif;
}

/*word spacing*/
body {
  line-height: 1.5;
  padding: 4em 1em;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

/*lighten black font text*/
body {
  color: #555;
}
h1,
h2,
strong {
  color: #333;
}

/*primary color: blue*/
h2 {
  color: #3498db;
}

/*secondary color: green*/
a {
  color: #27ae60;
  text-decoration: none;
}

/*link hover color animation*/
a:hover {
    color: #84D2F6;
    -webkit-transition: all, 0.5s ease-in-out;
    -mox-transition: all, 0.5s ease-in-out;
    transition: all, 0.5s ease-in-out;
}

/*fixed header*/
header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background: white no-repeat;
    height: 60px;
    left: 0px;
}

/* links in header */
header a {
    color: black;
    background: white;
    display: inline-block;
    padding: 0px 30px;
    height: 60px;
    line-height: 60px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

/*remove bullet points from list ideas*/
ul {
  list-style-type: none;
}

/*set up circular images for each user*/
.about-us img {
  border: 5px solid blue;
  border-radius: 50%;
  box-shadow: 1px 1px 1px gray;
  margin: 0 auto;
  width: 20%;
  height: auto;
}

li {
  margin: 0 auto;
  display: inline-block;
  overflow: hidden:
}
